.footer {
    background: linear-gradient(to right, rgba(30, 80, 102, 0.345), rgba(25, 63, 79, 0.784));
    padding: 10px;
    text-align: center;
    color: antiquewhite;
    /* Remove fixed positioning */
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    margin-top: 10px;
}

/* Responsive adjustments using media queries */
@media (max-width: 768px) {
    .footer {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 6px;
        font-size: 12px;
    }
}